doctype 
html(lang="en") 
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title OOW 
        include include/links
    body
          <!-- start nav -->
          nav(class="navbar navbar-toggleable-md navbar-light")
             .container
                  |
                  |
                  a(class="navbar-brand", href="#")
                      img(src="img/logo.png")
                  
      
                  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu
                        
                  div(class="collapse navbar-collapse", id="silver")
                    ul(class="navbar-nav ml-auto")
                        li(class="nav-item")
                           a(class="nav-link" href="#") ABOUT 

                        li(class="nav-item")
                          a(class="nav-link" href="#") IDEAS & INSIPRATION 

                        li(class="nav-item")
                          a(class="nav-link" href="#") PLANING

                        li(class="nav-item")
                          a(class="nav-link" href="#") CONTACT US
                          
                        li(class="nav-item")
                          a(href="#" role="button" class="btn oow" aria-pressed="true") LOG IN
                                                    
                        li(class="nav-item")
                          a(href="#" class="btn btn-oow" role="button" aria-pressed="true") SING UP         
          <!-- End nav -->
          
          <!-- start header -->
          .header
            .container
              .header-content
                h1(class="text-color") Your Wedding <br> Adeventure Start Here
                .section-color(class="hide-on-small-only hide-on-med-only")
                a(class="btn btn-oow"  href="#" ) Sing Up
                p(class="text-color") Already a member? <a href="#" class="oow">Log in</a> 
          <!-- End Header --> 
            
          <!-- start about -->
          .about(id="about")
            div
              .img-one 
                  img(src="img/heart.svg" class="heart" )
              .img-two
                  img(src="img/pallown.svg" class="pallown" )
            .container
              .row
                  div(class="col-lg-5 col-md-12 col-sm-12 about-text ")
                    h2 EVERYTHING YOU NEED TO  START YOUR <span class="text-website-color"> WEDDING</span> PLANNING (ADVENTURE)
                    p all your favorites in one place find local professionals  find unique registry gift ideas Choose a date

                  div(class="col-lg-7 col-md-12 col-sm-12 about-image")
                    img(src="img/about-image.png")          
          <!-- End about -->
          
          <!-- start section ideas -->
          .ideas
            .container
              .row
                div(class="col-lg-5 col-md-12 col-sm-12 ideas-text ")
                  h2 IDEAS , INSPIRATION <span class="text-website-color">&</span>Concert halls
                  p collect & organize ideas connect to vendors get wedding tips best places.
                div(class="col-lg-7 col-md-12 col-sm-12 ideas-img ")
                  img(src="img/ideas-img.png")
          <!-- End Section Ideas -->          

                  
            
          script(src="js/jquery-3.2.1.min.js")
          script(src="js/tether.js")
          script(src="js/bootstrap.min.js")
          script(src="js/fontawesome-all.js")
          script(src="js/main.js")
